body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #C4FFF9;
    margin: 0;
    height: 100%;
}

a{
    text-decoration: none;
    color: black;
}

*{
    box-sizing: border-box;
}

footer{
    padding: 1em;
    text-align: center;
    background: #07BEB8;
}

.navbar{
    background-color: #07BEB8; /* TEST */
    overflow:  hidden;
}

.navbar ul{
    display:flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 1em;
}

.navbar li{
    flex-grow: 1;
}

.navbar li.active{
    background-color: white; /* TEST */
    flex-grow: 2;
    padding: .7em;
    margin: .3em;
}

.bron:hover{
    background: white;
}

/* ------------------------------HOME------------------------------ */

#home{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 2em;
    height: 82vh
}

#intro{
    width: 45%;
}

#slideshow{
    /* width: 50%; */
    height: 350px;
}

/* ------------------------------HOME------------------------------ */
/* ------------------------------LIST------------------------------ */

.h1-list{
    text-align: center;
}

.anime-entry{
    display: flex;
    /* flex-wrap: wrap; */
    gap: 1em;
    background: #9CEAEF; /* TEST */
    margin: 5em 2em;
    align-content: flex-start;
    border-radius: 20px;
}

.anime-entry .genre{
    padding-top: .5em;
    justify-content: center;
    font-style: oblique;
}

.anime-entry .episode{
    padding-top: .5em;
    justify-content: center;
    font-style: oblique;
}

.anime-entry h2{
    font-style: normal;
}

.anime-entry img{
    width: 20%;
    padding: 1em;
}

.anime-description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* ------------------------------LIST------------------------------ */
/* ------------------------------FAVO------------------------------ */

#favorites{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.favorite-entry{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, aqua, skyblue); /* TEST */
    scroll-snap-align: start;
}

.favorite-entry img{
    width: 20em;
}

/* ------------------------------FAVO------------------------------ */
/* ------------------------------CLIP------------------------------ */

.clips{
    overflow: hidden, auto;
    white-space: nowrap;
    display: flex;
    /* justify-content: space-around; */
}

video{
    filter: blur(10px);
}

video:focus, video:hover {
    filter: blur(0px);
}
