body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    /* background: yellow;  TEST */
}

main{
    /* background: salmon;  TEST */
}

a{
    text-decoration: none;
}

.navbar{
    background-color: skyblue; /* TEST */
    overflow:  hidden;
}

.navbar ul{
    display:flex;
    justify-content: space-evenly;
    list-style: none;
}

.navbar li{
    flex-grow: 1;
}

.navbar li.active{
    background-color: white; /* TEST */
    flex-grow: 2;
}

.anime-entry .episode{
    display: inline;
}

.anime-entry .genre{
    display: inline;
}

.anime-entry h2{
    display: inline;
    font-style: normal;
}

.anime-entry{
    display: flex;
    background: aqua; /* TEST */
    margin-top: 5em;
    margin-bottom: 5em;
}

.anime-entry img{
    width: 15%;
    height: 10%;
}

#favorites{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.favorite-entry{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, aqua, skyblue);
    scroll-snap-align: start;
}

.favorite-entry img{
    width: 20em;
}